$primary-color: #9A0F18;
$secondary-color: #1E1E1E;

.primary-color {
    color: $primary-color !important;
}

.secondary-color {
    color: $secondary-color !important;
}

.primary-bg {
    background-color: $primary-color;
}

.secondary-bg {
    background-color: $secondary-color;
}