$primary-color: #9A0F18;
$secondary-color: #1E1E1E;
$board-color: #D9D9D9;
$pale-color: #F5F5F5;
$paper-color: #F9FBFF;
$note-pad-color: #e7dbb9;

#root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --board-color: #{$board-color};
    
    background-color: var(--board-color);
}

body {
    --board-color: #{$board-color};

    background-color: var(--board-color);
}

.primary-color {
    color: $primary-color !important;
}

.secondary-color {
    color: $secondary-color !important;
}

.primary-bg {
    background-color: $primary-color;
}

.secondary-bg {
    background-color: $secondary-color;
}

.border-color {
    border-color: $primary-color;
}

.paper-bg {
    background-color: $paper-color !important;
}

.note-pad-bg {
    background-color: $note-pad-color !important;
}