/* base/_fonts.scss */

@font-face {
    font-family: 'Dela Gothic';
    src: url('/assets/fonts/dela-gothic/DelaGothicOne-Regular.woff2')
      format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Didact Gothic';
    src: url('/assets/fonts/didact-gothic/DidactGothic-Regular.woff2')
      format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2')
  format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/ibm-plex-mono/IBMPlexMono-Medium.woff2')
  format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/source-serif-4/SourceSerif4_18pt-Regular.woff2')
  format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/source-serif-4/SourceSerif4_18pt-Medium.woff2')
  format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/fonts/source-serif-4/SourceSerif4_18pt-SemiBold.woff2')
  format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}