/* base/_typography.scss */

$font-primary: 'Dela Gothic', sans-serif;   // Display / identity
$font-secondary: 'Didact Gothic', sans-serif; // Body / readable

// font scales
$fs-title: clamp(3rem, 6vw, 4rem);
$fs-h1: clamp(2.5rem, 5vw, 3.5rem);
$fs-h2: clamp(1.75rem, 3vw, 2.25rem);
$fs-h3: clamp(1.25rem, 2vw, 1.75rem);
$fs-h4: clamp(1rem, 1.5vw, 1.25rem);
$fs-body: 1rem;
$fs-sm: 0.875rem;
$fs-cta: 0.875rem;
$fs-cta-lg: 1rem;
$fs-lg: clamp(1.25rem, 2vw, 1.75rem);
$fs-md: clamp(1rem, 1.5vw, 1.25rem);

// line heights
$lh-super-tight: 0.9;
$lh-tight: 1.1;
$lh-normal: 1.6;

.primary-title {
  font-family: $font-primary !important;
  font-size: $fs-title !important;
  line-height: $lh-super-tight !important;
  font-weight: 1000 !important;
}

.primary-h1 {
  font-family: $font-primary !important;
  font-size: $fs-h1 !important;
  line-height: $lh-tight ;
  font-weight: 1000 !important;
}

.primary-h2 {
  font-family: $font-primary !important;
  font-size: $fs-h2 !important;
  line-height: $lh-tight !important;
  font-weight: 800 !important;
}

.primary-h3 {
  font-family: $font-primary !important;
  font-size: $fs-h3 !important;
  line-height: $lh-tight !important;
  font-weight: 800 !important;
}

.secondary-h3 {
  font-family: $font-secondary !important;
  font-size: $fs-h3 !important;
  line-height: $lh-tight !important;
  font-weight: 600 !important;
}

.secondary-h4 {
  font-family: $font-secondary !important;
  font-size: $fs-h4 !important;
  line-height: $lh-tight !important;
  font-weight: 600 !important;
}

.secondary-h2 {
  font-family: $font-secondary !important;
  font-size: $fs-h2 !important;
  line-height: $lh-normal !important;
}

.secondary-lg {
  font-family: $font-secondary !important;
  font-size: $fs-lg !important;
  line-height: $lh-normal !important;
}

.secondary-md {
  font-family: $font-secondary !important;
  font-size: $fs-md !important;
  line-height: $lh-normal !important;
}

.secondary-body {
  font-family: $font-secondary !important;
  font-size: $fs-body !important;
  line-height: $lh-normal !important;
}

.primary-sm {
  font-family: $font-primary !important;
  font-size: $fs-sm !important;
  letter-spacing: 0.05em;
  font-weight: 1000 !important;
}

.secondary-sm {
  font-family: $font-secondary !important;
  font-size: $fs-sm !important;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500 !important;
}

.primary-cta {
  font-family: $font-primary !important;
  font-size: $fs-cta-lg !important;
  letter-spacing: 0.05em;
  font-weight: 1000 !important;
}

.secondary-cta {
  font-family: $font-secondary !important;
  font-size: $fs-cta !important;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  font-weight: 600 !important;
}

h1 {
  @extend .primary-h1;
}

h2 {
  @extend .primary-h2;
}

p {
  @extend .secondary-body;
}

.plain-text {
  text-decoration: none !important;
}