// _eye.scss
$eye-color: #fff;
$pupil-color: #000;
$right-eye-image: url('/images/right-eye.png');
$left-eye-image: url('/images/left-eye.png');

.eyes-container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 10;
  display: flex;
  flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  // height: fit-content;
}

.eye {
  --eye-radius: 35px;
  --pupil-radius: 5px;
  --pupil-max-offset: 12px;

  position: relative;
  width: calc(var(--eye-radius) * 2);
  height: calc(var(--eye-radius) * 2);
  // border-radius: 50%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  // background-color: $eye-color;
  background-image: var(--left-eye);
//   padding: 30px;
    display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 15px;
}

.eye--left {
  background-image: $left-eye-image;
}

.eye--right {
  background-image: $right-eye-image;
}

.pupil {
  position: absolute;
  left: 50%;
  top: 50%;

  width: calc(var(--pupil-radius) * 2);
  height: calc(var(--pupil-radius) * 2);
  border-radius: 50%;
  background: black;

  transform: translate(
    calc(-50% + var(--pupil-x, 0px)),
    calc(-50% + var(--pupil-y, 0px))
  );

  transition: transform 120ms ease-out;
}
