$gray: #333;
$font-mono: 'IBM Plex Mono', monospace;

.receipt-container {
    padding: 1rem;
    cursor: pointer;
    // position: absolute;
    z-index: 3;
    isolation: isolate;
    overflow: visible;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
    font-family: $font-mono;
}

// .receipt-container.shuffled {
//     transform: rotate(1deg);
//     box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
//     z-index: 4 !important;
// }

.receipt-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem 0;
}

.receipt-subheader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // font-size: clamp(0.6rem, 1vw, 0.875rem);
    color: $gray;
    margin-bottom: 0.25rem;
    text-align: left;
    gap: 0;
}

.subheader-row {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;
}

.tech-stack-table-header {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    border-bottom: 1px dashed $gray;
    border-top: 1px dashed $gray;
    padding: 0.5rem 0;
    width: 100%;
    margin-bottom: 0.5rem;
    color: $gray;
}

.techstack-table-item-header {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.tech-stack-table-row {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    padding: 0 0;
    width: 100%;
    margin-bottom: 0.5rem;
    color: $gray;
}

.tech-stack-table-row .techstack-table-item-row {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.receipt-table-footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 1px dashed $gray;
    border-bottom: 1px dashed $gray;
    padding: 0.5rem 0;
    padding-top: 0.5rem;
}

.receipt-table-footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footernote {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    color: $gray;
    margin: 0.75rem 0;
    font-weight: 400;
}

.qr-code-container {
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
}

.endfooter {
   color: $gray;
   opacity: 0.9;
}


.techstack-receipt {
    position: absolute;
    width: 50%;
    z-index: 3;
    display: block;
}

.project-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 1rem;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    transform: translateX(-10%);
}

// .torn-edge {
//     z-index: 100;
//     bottom: -1rem;
// }